################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloGit/.vs/HelloGit/v15
/HelloGit/HelloGit/bin/Debug/netcoreapp2.1
/HelloGit/HelloGit/obj
