################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloGit/obj
/.vs/HelloGit/v15
/HelloGit/bin/Debug/netcoreapp2.1
